.container{
	margin: 30px auto;
	width: 500px;
}


.remove{
	position: absolute;
	right: 98px;
}

ul, li{
	position: relative;
}

input{
	margin-right: 10px;
}

.panel{
	display: flex;
}

ul{
    list-style-type: none; 
    margin-top: 10px;
    padding-left: 0;
 }